In [45]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\arpita\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\arpita\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\arpita\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\arpita\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\arpita\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: async-generator>=1.9 in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: idna in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\arpita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\arpita\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\arpita\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\arpita\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\arpita\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [138]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [159]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

# Question 1

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [25]:
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [26]:
driver.maximize_window()

In [27]:
url = 'http://www.naukri.com/'
driver.get(url)

In [28]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys("Data Analyst")

In [29]:
# finding element for job location bar
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [30]:
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [31]:
# extracting the job titles
job_titles=[]
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Senior Data Analyst - PLM Data Migration',
 'Lead Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst - Python/Artificial Intelligence',
 'CONSULTANT - DATA ANALYST - CRM ERP']

In [32]:
#extracting the companies name
company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['CGI',
 'Mobile Premier League (MPL)',
 'NMS Consultant',
 'IBM',
 'IBM',
 'Groundtruth',
 'Mettox Laboratries',
 'Accenture',
 'iMindYourBusiness',
 'Pratham Books']

In [33]:
#extracting experience
experience = []
exp_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['3-6 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-4 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '14-20 Yrs']

In [34]:
#extracting the location
location = []
loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    location.append(i.text)
location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR',
 'Bangalore/Bengaluru']

In [35]:
len(job_titles[:10]),len(company_names[:10]),len(experience[:10]),len(location[:10])

(10, 10, 10, 10)

In [36]:
#creating Dataframe
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Company'] = company_names[:10]
jobs['Experience'] = experience[:10]
jobs['Location'] = location[:10]
jobs

,Job Title,Company,Experience,Location
0,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
1,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
2,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
3,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
4,Data Analyst,IBM,3-4 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Groundtruth,5-8 Yrs,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram"
6,Sr Data Analyst,Mettox Laboratries,3-8 Yrs,Bangalore/Bengaluru
7,Senior Analyst - Data Management,Accenture,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Visakhap..."
9,CONSULTANT - DATA ANALYST - CRM ERP,Pratham Books,14-20 Yrs,Bangalore/Bengaluru

In [37]:
driver.close()

# Question 2

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [97]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [98]:
url = 'http://www.naukri.com/'
driver.get(url)

In [99]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [100]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [101]:
search_btn= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

# Extracting job Titles

In [102]:
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II']

# Extracting Company Names

In [103]:
company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['Accenture',
 'Wipro',
 'Wipro',
 'Citiustech',
 'Altair',
 'Accenture',
 '24 7 ai',
 'HCLTech',
 'Boston Consulting Group',
 'Bizongo']

# Extracting Experience

In [104]:
experience = []
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['6-8 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-6 Yrs']

In [105]:
#extracting the location
location = []
loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    location.append(i.text)
location[:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)']

# Creating the Dataframe

In [106]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Company'] = company_names[:10]
jobs['Experience'] = experience[:10]
jobs['Location'] = location[:10]
jobs

,Job Title,Company,Experience,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Senior Data Scientist,Wipro,6-11 Yrs,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
2,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
3,Assistant Manager - Data Science,Citiustech,5-9 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
4,Data Scientist,Altair,2-7 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
5,ACN - Applied Intelligence - Data Scientist - 09,Accenture,2-6 Yrs,Bangalore/Bengaluru
6,Data Scientist - 2,24 7 ai,1-3 Yrs,Bangalore/Bengaluru
7,Data Scientist,HCLTech,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Senior Data Scientist,Boston Consulting Group,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
9,Data Scientist - II,Bizongo,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"

In [107]:
driver.close()

# Question 3

In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [170]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [171]:
url = "https://www.naukri.com"
driver.get(url)

In [172]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [173]:
search_btn= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [174]:
# select location filter as “Delhi/NCR”

location_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location_filter.click()

In [175]:
# select salary filter as “3-6” lakhs

salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [176]:
#extracting job titles
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist / Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data scientist- Python',
 'Data Scientist']

In [177]:
#extracting companies name
company_names = []
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'Wegarner Solutions',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [178]:
experience = []
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [179]:
#extracting the location
location = []
loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    location.append(i.text)
location[:10]

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Temp. WFH - Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [180]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Company'] = company_names[:10]
jobs['Experience'] = experience[:10]
jobs['Location'] = location[:10]
jobs

,Job Title,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist / Sr. Data Scientist,Wegarner Solutions,3-8 Yrs,Temp. WFH - Noida
5,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
6,Data Scientist,Meon Technologies,2-5 Yrs,Noida
7,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [181]:
driver.close()

# Question 4

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
-  Brand
-  Product Description
-  Price
-  Discount %

In [182]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [183]:
url="https://www.flipkart.com/"
driver.get(url)

In [184]:
# finding element for job search bar
search_g = driver.find_element(By.CLASS_NAME,"_3704LK")
search_g.send_keys("sunglasses")

In [185]:
search_btn=driver.find_element(By.CLASS_NAME,"_34RNph")
search_btn.click()

In [186]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [187]:
for i in range(3):
    b_name=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    p_desc=driver.find_elements(By.CLASS_NAME,"IRpwTa")
    price =driver.find_elements(By.CLASS_NAME,"_30jeq3")
    discount=driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [188]:
B_name[:100]

['ROZZETTA CRAFT',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'elegante',
 'VINCENT CHASE',
 'New Specs',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'CRYSTAL CART',
 'Sewell',
 'Fastrack',
 'ROZZETTA CRAFT',
 'elegante',
 'PIRASO',
 'Fastrack',
 'DEIXELS',
 'PROVOGUE',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PIRASO',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'Anemone',
 'New Specs',
 'ROYAL SON',
 'GANSTA',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'elegante',
 'VINCENT CHASE',
 'New Specs',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'CRYSTAL CART',
 'Sewell',
 'Fastrack',
 'ROZZETTA CRAFT',
 'elegante',
 'PIRASO',
 'Fastrack',
 'DEIXELS',
 'PROVOGUE',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PIRASO',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'Anemone',
 'New Specs',
 'ROYAL SON',
 'GANSTA',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'elegante',
 'VINCENT CHASE',
 'New Specs',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'CRYSTAL CART',
 'Sewell',
 'Fastrack',
 'ROZZETTA CRAFT',
 'elegante',
 'PIRASO',
 'Fastrack']

In [189]:
P_desc[:100]

['UV Protection Aviator Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (62)',
 'Polarized, UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (62)',
 'Polarized, UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)']

In [191]:
Price[:100]

['₹616',
 '₹190',
 '₹649',
 '₹199',
 '₹649',
 '₹283',
 '₹519',
 '₹499',
 '₹649',
 '₹254',
 '₹616',
 '₹215',
 '₹251',
 '₹189',
 '₹265',
 '₹579',
 '₹379',
 '₹499',
 '₹251',
 '₹579',
 '₹299',
 '₹699',
 '₹679',
 '₹197',
 '₹318',
 '₹474',
 '₹616',
 '₹616',
 '₹251',
 '₹236',
 '₹379',
 '₹616',
 '₹939',
 '₹949',
 '₹323',
 '₹449',
 '₹237',
 '₹569',
 '₹220',
 '₹176',
 '₹616',
 '₹190',
 '₹649',
 '₹199',
 '₹649',
 '₹283',
 '₹519',
 '₹499',
 '₹649',
 '₹254',
 '₹616',
 '₹215',
 '₹251',
 '₹189',
 '₹265',
 '₹579',
 '₹379',
 '₹499',
 '₹251',
 '₹579',
 '₹299',
 '₹699',
 '₹679',
 '₹197',
 '₹318',
 '₹474',
 '₹616',
 '₹616',
 '₹251',
 '₹236',
 '₹379',
 '₹616',
 '₹939',
 '₹949',
 '₹323',
 '₹449',
 '₹237',
 '₹569',
 '₹220',
 '₹176',
 '₹616',
 '₹190',
 '₹649',
 '₹199',
 '₹649',
 '₹283',
 '₹519',
 '₹499',
 '₹649',
 '₹254',
 '₹616',
 '₹215',
 '₹251',
 '₹189',
 '₹265',
 '₹579',
 '₹379',
 '₹499',
 '₹251',
 '₹579']

In [192]:
Discount[:100]

['75% off',
 '80% off',
 '35% off',
 '87% off',
 '27% off',
 '78% off',
 '35% off',
 '78% off',
 '67% off',
 '90% off',
 '75% off',
 '69% off',
 '84% off',
 '68% off',
 '82% off',
 '35% off',
 '81% off',
 '78% off',
 '84% off',
 '27% off',
 '50% off',
 '72% off',
 '24% off',
 '83% off',
 '87% off',
 '76% off',
 '75% off',
 '69% off',
 '84% off',
 '60% off',
 '81% off',
 '75% off',
 '27% off',
 '52% off',
 '87% off',
 '85% off',
 '76% off',
 '71% off',
 '87% off',
 '82% off',
 '75% off',
 '80% off',
 '35% off',
 '87% off',
 '27% off',
 '78% off',
 '35% off',
 '78% off',
 '67% off',
 '90% off',
 '75% off',
 '69% off',
 '84% off',
 '68% off',
 '82% off',
 '35% off',
 '81% off',
 '78% off',
 '84% off',
 '27% off',
 '50% off',
 '72% off',
 '24% off',
 '83% off',
 '87% off',
 '76% off',
 '75% off',
 '69% off',
 '84% off',
 '60% off',
 '81% off',
 '75% off',
 '27% off',
 '52% off',
 '87% off',
 '85% off',
 '76% off',
 '71% off',
 '87% off',
 '82% off',
 '75% off',
 '80% off',
 '35% off',
 '87% off',
 '27% off',
 '78% off',
 '35% off',
 '78% off',
 '67% off',
 '90% off',
 '75% off',
 '69% off',
 '84% off',
 '68% off',
 '82% off',
 '35% off',
 '81% off',
 '78% off',
 '84% off',
 '27% off']

In [193]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [194]:
#creating dataframe
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,ROZZETTA CRAFT,₹616,UV Protection Aviator Sunglasses (62),75% off
1,SUNBEE,₹190,UV Protection Rectangular Sunglasses (Free Size),80% off
2,Fastrack,₹649,UV Protection Wayfarer Sunglasses (Free Size),35% off
3,PIRASO,₹199,UV Protection Rectangular Sunglasses (52),87% off
4,Fastrack,₹649,UV Protection Shield Sunglasses (Free Size),27% off
...,...,...,...,...
95,Fastrack,₹579,"Gradient, UV Protection Wayfarer Sunglasses (F...",35% off
96,ROZZETTA CRAFT,₹379,"UV Protection, Gradient Round Sunglasses (Free...",81% off
97,elegante,₹499,"Polarized, Riding Glasses, Night Vision Sports...",78% off
98,PIRASO,₹251,UV Protection Aviator Sunglasses (54),84% off
99,Fastrack,₹579,UV Protection Aviator Sunglasses (Free Size),27% off

In [195]:
driver.close()

# Question 5

Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [78]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [79]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url)

In [102]:
rating = []
review_sum = []
full_review = []

In [111]:
for i in range(10):
    rate=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    review=driver.find_elements(By.CLASS_NAME,"_2-N8zT")
    desc=driver.find_elements(By.CLASS_NAME,"t-ZTKy")
    
    for j  in rate:
        rating.append(j.text)
    rating[:100]    
    
    
    for k in review:
        review_sum.append(k.text)
    review_sum[:100]
    
    for l in desc:
        full_review.append(l.text)
    full_review[:100]

In [112]:
full_review[:100]

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',

In [113]:
print(len(rating[:100])),print(len(review_sum[:100])),print(len(full_review[:100]))

100
100
100

(None, None, None)

In [114]:
#creating dataframe
iphone_review=pd.DataFrame({})
iphone_review['Rating']=rating[:100]
iphone_review['Review']=review_sum[:100]
iphone_review['Detail']=full_review[:100]
iphone_review

,Rating,Review,Detail
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,5,Fabulous!,This is my first iOS phone. I am very happy wi...

In [115]:
driver.close()

# Question 6

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
-  Brand
-  Product Description
-  Price
-  discount %

In [196]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [197]:
url="https://www.flipkart.com/"
driver.get(url)

In [198]:
# finding element for job search bar
search_s= driver.find_element(By.CLASS_NAME,"_3704LK")
search_s.send_keys('sneakers')

In [199]:
search_btn=driver.find_element(By.CLASS_NAME,"_34RNph")
search_btn.click()

In [200]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [204]:
for i in range(3):
    b_name=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    p_desc=driver.find_elements(By.CLASS_NAME,"IRpwTa")
    price =driver.find_elements(By.CLASS_NAME,"_30jeq3")
    discount=driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [211]:
B_name[:100]

['tigonis',
 'asian',
 'RED TAPE',
 'RED TAPE',
 'Labbin',
 'PUMA',
 'Kraasa',
 'asian',
 'ASTEROID',
 'BRUTON',
 'PUMA',
 'asian',
 'TR',
 'RapidBox',
 'PUMA',
 'SCATCHITE',
 'asian',
 'PUMA',
 'T-ROCK',
 'Deals4you',
 'PUMA',
 'PUMA',
 'ASTEROID',
 'Sparx',
 'aadi',
 'BRUTON',
 'SCATCHITE',
 'VALLINO Golf Shoes',
 'BRUTON',
 'BRUTON',
 'VALLINO Golf Shoes',
 'VALLINO Golf Shoes',
 'Magnolia',
 'AMICO',
 'DUCATI',
 'BRUTON',
 'SOLE STITCH',
 'tigonis',
 'World Wear Footwear',
 'Deals4you',
 'tigonis',
 'asian',
 'RED TAPE',
 'RED TAPE',
 'Labbin',
 'PUMA',
 'Kraasa',
 'asian',
 'ASTEROID',
 'BRUTON',
 'PUMA',
 'asian',
 'TR',
 'RapidBox',
 'PUMA',
 'SCATCHITE',
 'asian',
 'PUMA',
 'T-ROCK',
 'Deals4you',
 'PUMA',
 'PUMA',
 'ASTEROID',
 'Sparx',
 'aadi',
 'BRUTON',
 'SCATCHITE',
 'VALLINO Golf Shoes',
 'BRUTON',
 'BRUTON',
 'VALLINO Golf Shoes',
 'VALLINO Golf Shoes',
 'Magnolia',
 'AMICO',
 'DUCATI',
 'BRUTON',
 'SOLE STITCH',
 'tigonis',
 'World Wear Footwear',
 'Deals4you',
 'tigonis',
 'asian',
 'RED TAPE',
 'RED TAPE',
 'Labbin',
 'PUMA',
 'Kraasa',
 'asian',
 'ASTEROID',
 'BRUTON',
 'PUMA',
 'asian',
 'TR',
 'RapidBox',
 'PUMA',
 'SCATCHITE',
 'asian',
 'PUMA',
 'T-ROCK',
 'Deals4you']

In [216]:
P_desc[:100]

['Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Hattrick-31 Black Casuals,Walking,Training,Running,Styl...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Hattrick-31 Slate Casuals,Walking,Training,Running,Styl...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Canvas shoes for Men Sneakers For Men',
 'X-Ray Game Wmn s Valentine s Sneakers For Women',
 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Acrux Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Jasper-01 Grey Casual,Walking,Sneakers,Loafers Stylish ...',
 'Jada Night Out Sneakers For Women',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Sneakers For Women',
 'Camo Wn�s Sneakers For Women',
 'Vega Sweet v2 Sneakers For Women',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'SM-671 Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Premium Chic Sneakers For Women',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Sneakers For Women',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Hattrick-31 Black Casuals,Walking,Training,Running,Styl...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Hattrick-31 Slate Casuals,Walking,Training,Running,Styl...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Canvas shoes for Men Sneakers For Men',
 'X-Ray Game Wmn s Valentine s Sneakers For Women',
 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Acrux Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Jasper-01 Grey Casual,Walking,Sneakers,Loafers Stylish ...',
 'Jada Night Out Sneakers For Women',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Sneakers For Women',
 'Camo Wn�s Sneakers For Women',
 'Vega Sweet v2 Sneakers For Women',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'SM-671 Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Premium Chic Sneakers For Women',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Sneakers For Women',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Hattrick-31 Black Casuals,Walking,Training,Running,Styl...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Hattrick-31 Slate Casuals,Walking,Training,Running,Styl...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Canvas shoes for Men Sneakers For Men',
 'X-Ray Game Wmn s Valentine s Sneakers For Women',
 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Acrux Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Jasper-01 Grey Casual,Walking,Sneakers,Loafers Stylish ...',
 'Jada Night Out Sneakers For Women',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Sneakers For Women']

In [217]:
Price[:100]

['₹499',
 '₹649',
 '₹999',
 '₹1,079',
 '₹395',
 '₹2,020',
 '₹499',
 '₹649',
 '₹499',
 '₹389',
 '₹2,729',
 '₹899',
 '₹299',
 '₹599',
 '₹1,966',
 '₹360',
 '₹899',
 '₹2,279',
 '₹395',
 '₹389',
 '₹1,749',
 '₹1,759',
 '₹499',
 '₹849',
 '₹499',
 '₹324',
 '₹569',
 '₹3,699',
 '₹199',
 '₹179',
 '₹3,699',
 '₹3,699',
 '₹299',
 '₹494',
 '₹1,014',
 '₹311',
 '₹849',
 '₹499',
 '₹249',
 '₹455',
 '₹1,749',
 '₹1,759',
 '₹599',
 '₹849',
 '₹2,020',
 '₹499',
 '₹649',
 '₹999',
 '₹1,079',
 '₹395',
 '₹2,020',
 '₹499',
 '₹649',
 '₹499',
 '₹389',
 '₹2,729',
 '₹899',
 '₹299',
 '₹599',
 '₹1,966',
 '₹360',
 '₹899',
 '₹2,279',
 '₹395',
 '₹389',
 '₹1,749',
 '₹1,759',
 '₹499',
 '₹849',
 '₹499',
 '₹324',
 '₹569',
 '₹3,699',
 '₹199',
 '₹179',
 '₹3,699',
 '₹3,699',
 '₹299',
 '₹494',
 '₹1,014',
 '₹311',
 '₹849',
 '₹499',
 '₹249',
 '₹455',
 '₹1,749',
 '₹1,759',
 '₹599',
 '₹849',
 '₹2,020',
 '₹499',
 '₹649',
 '₹999',
 '₹1,079',
 '₹395',
 '₹2,020',
 '₹499',
 '₹649',
 '₹499',
 '₹389']

In [218]:
Discount[:100]

['66% off',
 '50% off',
 '80% off',
 '80% off',
 '60% off',
 '42% off',
 '50% off',
 '50% off',
 '75% off',
 '70% off',
 '61% off',
 '40% off',
 '80% off',
 '40% off',
 '40% off',
 '63% off',
 '40% off',
 '62% off',
 '60% off',
 '61% off',
 '61% off',
 '56% off',
 '50% off',
 '15% off',
 '75% off',
 '75% off',
 '43% off',
 '47% off',
 '66% off',
 '70% off',
 '47% off',
 '47% off',
 '70% off',
 '50% off',
 '71% off',
 '76% off',
 '34% off',
 '66% off',
 '83% off',
 '69% off',
 '61% off',
 '56% off',
 '40% off',
 '15% off',
 '42% off',
 '66% off',
 '50% off',
 '80% off',
 '80% off',
 '60% off',
 '42% off',
 '50% off',
 '50% off',
 '75% off',
 '70% off',
 '61% off',
 '40% off',
 '80% off',
 '40% off',
 '40% off',
 '63% off',
 '40% off',
 '62% off',
 '60% off',
 '61% off',
 '61% off',
 '56% off',
 '50% off',
 '15% off',
 '75% off',
 '75% off',
 '43% off',
 '47% off',
 '66% off',
 '70% off',
 '47% off',
 '47% off',
 '70% off',
 '50% off',
 '71% off',
 '76% off',
 '34% off',
 '66% off',
 '83% off',
 '69% off',
 '61% off',
 '56% off',
 '40% off',
 '15% off',
 '42% off',
 '66% off',
 '50% off',
 '80% off',
 '80% off',
 '60% off',
 '42% off',
 '50% off',
 '50% off',
 '75% off',
 '70% off']

In [219]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [220]:
#creating dataframe
sneaker=pd.DataFrame({})
sneaker['Brand_name']=B_name[:100]
sneaker['P_price']=Price[:100]
sneaker['Pr_desc']=P_desc[:100]
sneaker['P_discount']=Discount[:100]
sneaker

,Brand_name,P_price,Pr_desc,P_discount
0,tigonis,₹499,Tigonis Casuals For Men Sneakers For Men (Whit...,66% off
1,asian,₹649,"Hattrick-31 Black Casuals,Walking,Training,Run...",50% off
2,RED TAPE,₹999,Sneakers For Men,80% off
3,RED TAPE,"₹1,079",Sneakers For Men,80% off
4,Labbin,₹395,Sneakers For Men,60% off
...,...,...,...,...
95,SCATCHITE,"₹2,020",Sneakers Sneakers For Men,42% off
96,asian,₹499,"Jasper-01 Grey Casual,Walking,Sneakers,Loafers...",50% off
97,PUMA,₹649,Jada Night Out Sneakers For Women,50% off
98,T-ROCK,₹499,Stylish White Casual Sneakers shoes Men and Bo...,75% off
99,Deals4you,₹389,Sneakers For Women,70% off

In [221]:
driver.close()

# Question 7

Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe,description, price of the shoe.

In [183]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [184]:
url= 'https://www.myntra.com/shoes'
driver.get(url)

In [186]:
#apply second price filter 

price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [187]:
#apply Color filter to “Black”

color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [188]:
#Scraping the Brand, Product Description, Price

brand_name=[]
product_description=[]
price=[]

In [191]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [192]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]')
prev_button.click()

In [193]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [194]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]')
prev_button.click()

In [195]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [196]:
print(len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [197]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

In [198]:
driver.close()

# Question 8

Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”.After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1.Title 2.Ratings 3. Price

In [199]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [200]:
url = " https://www.amazon.in/"
driver.get(url)

In [204]:
# finding element for laptop in search bar
des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [205]:
# click the search button
search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [206]:
# select cpu filter
cpu_filter_i7 = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_filter_i7.click()

In [207]:
title=[]
ratings=[]
price=[]

In [208]:
#title of the laptops

#title_tags= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)

In [209]:
#ratings 
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))

In [210]:
#prices of the laptops
price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)

In [211]:
# Creating DataFrame of first 10 scrapped data

list_data= list(zip(title, ratings, price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'),
        columns =['Title_of_Laptop', 'Ratings', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 10 laptop's data from Amazon is:\n\n")
data

First 10 laptop's data from Amazon is:

In [212]:
driver.close()

# Question 9

Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps: 1.First get the webpage https://www.azquotes.com/ 2. Click on Top Quotes 3. Than scrap a) Quote b) Author c) Type Of Quote

In [213]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [214]:
#open the link
url='https://www.azquotes.com/'
driver.get(url)

In [215]:
#filter by top quotes
filter_btn=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
filter_btn.click()

In [216]:
# scrapping 1000 qoute
title_tag=[]
start=0
end=10
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in rat:
        title_tag.append(i.text)
        
## scrapping 1000 author     
author_summ=[]
start=0
end=10
for page in range(start,end):
    rev=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in rev:
        author_summ.append(i.text)
        
# scrapping 1000 type of qoute
tag=[]
start=0
end=10
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in com:
        tag.append(i.text)

# next button        
start=0
end=9
for page in range(start,end):    
    next_button=driver.find_element(By.XPATH,'(//li[@class="next"])[2]')
    next_button.click()
    time.sleep(5)

In [217]:
#checking scrapped data total 1000
len(title_tag),len(author_summ),len(tag)

(1000, 1000, 1000)

In [218]:
#createing dataframe
df=pd.DataFrame({'Quote':title_tag,'Author':author_summ,'Type Of Quote':tag})
df

,Quote,Author,Type Of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [219]:
driver.close()

# Question 10

Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks)
-  First get the webpage https://www.jagranjosh.com/
-  Then You have to click on the GK option
-  Then click on the List of all Prime Ministers of India
-  Then scrap the mentioned data and make the DataFrame.

In [221]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [222]:
url = 'https://www.jagranjosh.com/'
driver.get(url)

In [223]:
#filter
gk_btn=driver.find_element(By.XPATH,'(//a[@href="/general-knowledge?ref=nav_dd"])[2]')
gk_btn.click()

In [224]:
#filter
list_btn=driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')
list_btn.click()

In [225]:
Name=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in names:
    Name.append(name.text)
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [226]:
#born-dead
bo_de=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')

for name in names:
    bo_de.append(name.text)
bo_de

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [227]:
#Term of office
term=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')

for name in names:
    term.append(name.text)
term

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present']

In [228]:
remark=[]
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')

for name in names:
    remark.append(name.text)
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [229]:
#creating dataframe
df=pd.DataFrame({'Name':Name,'Born-Dead':bo_de,'Remarks':remark})
df

,Name,Born-Dead,Remarks
0,Jawahar Lal Nehru,(1889–1964),The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),-
4,Indira Gandhi,(1917–1984),First female Prime Minister of India
5,Morarji Desai,(1896–1995),Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),------
15,Atal Bihari Vajpayee,(1924-2018),The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),First Sikh PM
17,Narendra Modi,(born 1950),4th Prime Minister of India who served two con...

In [230]:
driver.close()

# Question 11

Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model 
name and Price) from https://www.motor1.com/

In [231]:
# let's first connect to the web driver
driver = webdriver.Chrome(r'C:\Users\Arpita\Downloads\chromedriver_win32\chromedriver.exe')

In [232]:
url='https://www.motor1.com/'
driver.get(url)

In [233]:
ham_btn= driver.find_element(By.CLASS_NAME,"box-item-left")
ham_btn.click()

In [241]:
 list_btn=driver.find_element(By.XPATH,'(//a[@href="/features/category/lists/"])[2]')
list_btn.click()

In [242]:
#CLICKING ON 50 MOST EXPENSIVE CARS IN THE WORLD TAB
text_btn=driver.find_element(By.XPATH,'(//a[@href="/features/308149/most-expensive-new-cars-ever/"])[2]')
text_btn.click()

In [243]:
import re
name_car=[]
price_car=[]
# ------appending name of car in name_car and price of car in price_car and using string formatting-----
car=driver.find_elements(By.XPATH,"/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/ul/li")
for i in car:
    # formatting strings using replace and split
    ele=i.text.replace('-','').replace(':','').split('$')
    name_car.append(ele[0])
    price_car.append(ele[1])

In [244]:
most_expensive=pd.DataFrame({"NAME OF THE CAR":name_car,"PRICE OF THE CAR IN ($)":price_car})
most_expensive

                      NAME OF THE CAR PRICE OF THE CAR IN ($)
0                         Drako GTE               1.2 Million
1                       DeTomaso P72              1.3 Million
2                 Ferrari LaFerrari               1.4 Million
3                     Pagani Huayra               1.4 Million
4                       Czinger 21C               1.7 Million
5                     Ferrari Monza               1.7 Million
6                Gordon Murray T.33               1.7 Million
7                 Koenigsegg Gemera               1.7 Million
8                      McLaren Elva               1.7 Million
9                        Zenvo TSRS               1.7 Million
10               Hennessey Venom F5               1.8 Million
11                  Bentley Bacalar               1.9 Million
12     Hispano Suiza Carmen Boulogne              1.9 Million
13            Bentley Mulliner Batur              2.0 Million
14                      Deus Vayanne              2.0 Million
15                      SSC Tuatara              2.0 Million*
16                      Lotus Evija               2.1 Million
17              Aston Martin Vulcan               2.3 Million
18                        Delage D12              2.3 Million
19                McLaren Speedtail               2.3 Million
20                     Rimac Nevera               2.4 Million
21                     Pagani Utopia              2.5 Million
22             Pininfarina Battista               2.5 Million
23                Ferrari FXX K Evo               2.6 Million
24               Gordon Murray T.50               2.6 Million
25             Lamborghini Countach               2.6 Million
26          MercedesAMG Project One               2.7 Million
27              Aston Martin Victor               3.0 Million
28       Hennessey Venom F5 Roadster              3.0 Million
29                 Koenigsegg Jesko               3.0 Million
30            Aston Martin Valkyrie               3.2 Million
31        W Motors Lykan Hypersport               3.4 Million
32                     McLaren Solus              3.5 Million
33        Pagani Huayra Roadster BC               3.5 Million
34         Bugatti Chiron Pur Sport               3.6 Million
35                 Lamborghini Sian               3.6 million
36                  Koenigsegg CC850              3.7 Million
37  Bugatti Chiron Super Sport 300+               3.9 Million
38               Lamborghini Veneno               4.5 Million
39                   Bugatti Bolide               4.7 Million
40                   Bugatti Mistral              5.0 Million
41               Pagani Huayra Imola              5.4 Million
42                     Bugatti Divo               5.8 Million
43              SP Automotive Chaos               6.4 Million
44                  Pagani Codalunga              7.4 Million
45          MercedesMaybach Exelero               8.0 Million
46               Bugatti Centodieci               9.0 Million
47              RollsRoyce Sweptail              12.8 Million
48         Bugatti La Voiture Noire              13.4 Million
49             RollsRoyce Boat Tail             28.0 Million*

In [245]:
driver.close()